<link rel="stylesheet" href="/base.css">
<link rel="stylesheet" href="/footer.css"> 

<footer class="navigation-bot flex">
    <div class="wrapper">
        <ul class="navigation-bot-list flex">
            <li><a href=""><img class="social-media" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="Github"></a></li>
            <li><a href=""><img class="social-media" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="Linkedin"></a></li>
        </ul>
        <p class="copyright">&copy;Copyright 2021</p> 
    </div>
</footer>