<link rel="stylesheet" href="/base.css">
<link rel="stylesheet" href="/footer.css"> 

<footer class="navigation-bot flex">
        <ul class="navigation-bot-list flex">
            <li><a target="_blank" href="https://github.com/RianVitor26"><img class="social-media" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="Github"></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/rian-vitor-a036aa202/"><img class="social-media" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="Linkedin"></a></li>
        </ul>
        <p class="description">Blog para fins didáticos</p>
        <p class="copyright">&copy;Copyright 2021</p> 
</footer>