<link rel="stylesheet" href="/base.css">
<link rel="stylesheet" href="/footer.css"> 

<footer>
    <ul class="navigation-bot-list">
        <li><a href=""><img class="social-media" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt=""></a></li>
        <li><a href=""><img src="" alt=""></a></li>
    </ul>
    <p class="copyright">&copy;Copyright 2021</p> 
</footer>