<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEAD</title>
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/head.css">
</head>

<body>
    <header>
        <nav class="navigation-top flex">
            <img class="navigation-top-logo" src="/assets/default.png" alt="logo: PersonalBlog">
            <ul class="flex navigation-top-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">contato</a></li>
            </ul>
            <input type="text" placeholder="Pesquisar">
        </nav>
    </header>
</body>
</html>