<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEAD</title>
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/head.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>

<body>  
        <div class="mobile-menu-wrapper">
            <div class="mobile-menu"></div>
            <div class="mobile-menu"></div>
            <div class="mobile-menu"></div>
        </div>
        <nav class="navigation-top">
            <img class="navigation-top-logo" src="/assets/default.png" alt="logo: PersonalBlog">
            <ul class="flex navigation-top-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Posts</a></li>
                <li><a href="#">Sobre</a></li>
            </ul>
                <input class="flex" type="text" placeholder="Pesquisar">
        </nav>
</body>
</html>