<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/addPost.css">

<article class="add-post-wrapper flex">
    <h2 class="title">Adicione um novo post</h2>
    <form class="form-wrapper flex">
        <input type="text" name="title" placeholder="título">
        <input type="text" name="description" placeholder="Descrição">
        <input type="text" name="text" placeholder="Texto">
    </form>
</article>

<%- include('includes/footer.ejs') %>
