<!-- Extendendo o html -->
<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/posts.css">

<section class="posts-wrapper flex">
    <div class="card flex">
        <div class="card-image">
            
        </div>
        <div class="card-texts">
            <h2 class="card-title">Titúlo do post</h2>
            <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eaque.</p>
        </div>
    </div>
    
    <div class="card flex">
        <div class="card-image">

        </div>
        <div class="card-texts">
            <h2 class="card-title">Titúlo do post</h2>
            <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eaque.</p>
        </div>
    </div>

    <div class="card flex">
        <div class="card-image">

        </div>
        <div class="card-texts">
            <h2 class="card-title">Titúlo do post</h2>
            <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eaque.</p>
        </div>
    </div>

    <div class="card flex">
        <div class="card-image">

        </div>
        <div class="card-texts">
            <h2 class="card-title">Titúlo do post</h2>
            <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eaque.</p>
        </div>
    </div>

    <div class="card flex">
        <div class="card-image">

        </div>
        <div class="card-texts">
            <h2 class="card-title">Titúlo do post</h2>
            <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eaque.</p>
        </div>
    </div>

    <div class="card flex">
        <div class="card-image">

        </div>
        <div class="card-texts">
            <h2 class="card-title">Titúlo do post</h2>
            <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eaque.</p>
        </div>
    </div>
</section>

<%- include('includes/footer.ejs') %>   