.add-post-wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.add-post-wrapper h2{
    font-size: clamp(1rem, 2vw, 3vw)
}


.form-wrapper{
   flex-direction: column;

}

.form-wrapper input[type="text"]:nth-child(3){  
    height: 100px
}
