.navigation-bot{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background: var(--background-footer);
}

.navigation-bot .description, .copyright{
    color: white;
    opacity: 71%;
    padding-top: 5px;
}

.navigation-bot-list .social-media{
    width: 3vw;
    min-width: 25px;
}

.navigation-bot-list li:nth-child(1){
    margin-right: 10px;
}





