.menu-hamburguer{
    position: absolute;
    top: 0;
    right: 10px;
}

.navigation-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    flex-wrap: wrap; 
}

.navigation-top-logo{
    width: 20vw;
    min-width: 150px;
}

.navigation-top-list li{
    margin: 0 20px;
}

.navigation-top-list a,
::placeholder,
.card-description,
.navigation-bot .description,
input[type="text"],
.copyright{
    font-size: clamp(.7rem, 1.3vw, 3rem);
}

.navigation-top-list a:hover{
    color: var(--first-color);
}

input[type="text"]{
    padding: 1vh 1vw;
    height: 6vh;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    outline-color: rgba(0, 0, 0, 0.6);
    width: 30vw;
}

@media (max-width: 644px){
    .navigation-top{
        display: none;
    }
    .menu-hamburguer{ 
        display: block;
    }
}

